<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="921600"/>
    <param name="app_id" type="int" value="your app id here"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="your app key here"/>
    <param name="use_broadcast" type="bool" value="false"/>
    
    <!-- Thrust manipulation cooficients. Those are used for thrust command comming from RollPitchThrustYawrate command. -->
	<!-- The value of msg.thrust.z is expected in [Newtons] to transform it to Thrust a linear transformation is used:   -->
	<!-- thrust = msg.thrust.z * thrust_coefficient + thrust_offset; -->
	<!-- additionally the thrust is limited by thrust_min and thrust_max -->
	<param name="thrust_coefficient" type="double" value="2.7525"/>
	<param name="thrust_offset"      type="double" value="-18.3583"/>
	<param name="thrust_min"         type="double" value="10.0"/>
	<param name="thrust_max"                type="double" value="100.0"/>
    
    <!-- use gear switch to gain control authority: up - obtain authority, down - release authority -->
    <param name="use_gear_sw_for_authority_ctrl" type="bool" value="false"/>
    </node>
</launch>
